* {
  margin: 0;
  padding: 0%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

#submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Abyssinica SIL", serif;
  font-family: "Inter Tight", sans-serif;
  border-bottom: 1px solid #cbcaca;
  font-size: 15px;
  letter-spacing: 1.5px;
  padding: 2px 0;
}

/*--------------------LEFT--------------------*/
.email {
  padding-right: 1em;
}

.contactsSubmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 45vh; */
}

/*--------------------BETWEEN--------------------*/

#menuDropdownSubmenu {
  cursor: pointer;
}

.btnmenuDropdownSubmenu {
  padding: 1px 10px;
  border-radius: 3px;
}

.dropdownSubmenu-img {
  width: 15px;
  margin-left: 5px;
}

.contentDropdownSubmenu {
  background-color: white;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.optionDropdownSubmenu-a {
  text-decoration: none;
  color: black;
}

.titleDropdownSubmenu {
  color: #14c2e8;
  padding: 6px;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 13px;
  background-color: rgba(4, 247, 255, 0.1);
}

.optionDropdownSubmenu {
  padding: 10px 20px;
  font-size: 14px;
}

/*----------HOVER-BETWEEN----------*/

.btnmenuDropdownSubmenu:hover {
  background-color: rgb(210, 210, 210, 0.4);
}

#menuDropdownSubmenu:hover .dropdownSubmenu-img {
  transform: scale(1) rotate(180deg);
  transition: 0.5s;
}

.optionDropdownSubmenu:hover {
  background-color: rgb(210, 210, 210, 0.2);
}

#menuDropdownSubmenu:hover .contentDropdownSubmenu {
  display: block;
}

#menuDropdownSubmenu:hover .dropdownSubmenu-img {
  transform: scale(1) rotate(180deg);
  transition: 0.5s;
}

/*--------------------RIGHT--------------------*/

#socialSubmenu {
  display: flex;
  width: 35vh;
  justify-content: space-between;
}

#socialSubmenu,
.socialSubmenu-img {
  display: flex;
  align-items: center;
}

.socialSubmenu-img {
  width: 15px;
  padding: 2px 3px;
  border-radius: 3px;
}

/*----------RIGHT-HOVER----------*/

.socialSubmenu-img:hover {
  background-color: rgb(210, 210, 210, 0.4);
}

/*----------------------------MENU----------------------------*/

#menu {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  border-bottom: 5px solid #14c2e8;
  box-shadow: 5px 5px 5px 1px rgba(141, 140, 140, 0.5);
  height: 5em;
}

.logoMenu {
  display: flex;
  align-items: center;
  font-size: 2em;
}

.logoMenu-a {
  text-decoration: none;
  color: #14c2e8;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
}

.menuMenu {
  display: flex;
  width: 50em;
  justify-content: space-between;
  align-items: center;
}

.btnMenu-a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 400.3;
}

.btnEntrarMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #14c2e8;
  width: 15vh;
  padding: 0.2em 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400.3;
}

.btnEntrarMenu-img {
  width: 3vh;
}

.containerLogin {
  display: none;
  border-radius: 0 0 0.5em 0.5em;
  position: absolute;
  background-color: rgb(240, 240, 240);
  flex-direction: column;
  box-shadow: 0em 0.5em 1em 0.1em rgb(0, 0, 0, 20%);
  top: 73%;
  left: 80%;
}

.titleContainerLogin {
  background-color: #14c1e86c;
  padding: 0.5em;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
}

.inputContainer {
  border-radius: 0.5em;
  height: 1.5em;
  border: 0.1em solid black;
  margin: 1em 1em 0em 1em;
  /* padding: 0.2em; */
  text-align: center;
}

.inputContainer::placeholder {
  color: #14c1e8bc;
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.textContainer {
  margin: 0em 1em;
  display: flex;
  flex-direction: column;
  text-align: justify;
  height: 4em;
  justify-content: space-evenly;
}

.clickHereContainer {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.clickHere-a {
  text-decoration: none;
  color: black;
}

/*----------MENU-HOVER----------*/

.logoMenu-a:hover {
  opacity: 0.5;
}

.btnMenu-a:hover {
  color: #14c2e8;
}

.btnEntrarMenu:hover {
  color: white;
}

.clickHereContainer:hover {
  color: rgb(0, 115, 255);
}

.clickHere-a:hover {
  color: #14c2e8;
}

/*=====================ALINHADOR==================================*/

#alinhador {
  width: 100%;
}

/*==============================BOX==============================*/

.img-home-a {
  width: 100%;
  padding-top: 5em;
}

/*==============================BOX-2==============================*/

.home-titleBox2 {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 2em;
}

#home-box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3em 8%;
}

.dadContentBox2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: Montserrat;
  border: 0.5em solid #14c2e8;
  border-radius: 1em;
  margin: 0 2em;
  padding: 0.5em 0.5em;
}

.imgContentBox2 {
  width: 5em;
  padding: 1em 0em;
}

.titleContentBox2 {
  margin: 0.5em 0;
  color: #454545;
  font-weight: bold;

}

.knowMoreSubcontentBox2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.knowMore_DownSubcontentBox2 {
  padding-bottom: 1em;
  display: flex;
  align-items: center;
}

.onlyKnowMoreSubcontentBox2 {
  text-decoration: underline;
}

.downSubcontentBox2 {
  width: 1em;
  margin-left: 0.5em;
}

.textSubcontentBox2 {
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: gray;
  /* line-height: 1.3em; */
  letter-spacing: 0.2px;
  font-family: jost-medium;
}

/*----------BOX2-HOVER----------*/

.knowMoreSubcontentBox2:hover .textSubcontentBox2 {
  display: block;
}

.knowMoreSubcontentBox2:hover .downSubcontentBox2 {
  transform: scale(1) rotate(180deg);
  transition: 0.2s;
}

/*==============================BOX-3==============================*/

#home-box3 {
  background: linear-gradient(180deg, #D5D5D5 57.6%, rgba(217, 217, 217, 0) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 6em 0 2em 0;
}

.titleBox3 {
  text-align: center;
  font-size: 2em;
  font-family: montserrat;
  color: rgb(0, 0, 0, 0.7);
  font-weight: bold;
  padding: 2em 0;
}

.videoBox3 {
  border-radius: 1em;
  width: 75vw;
  height: 35vw;
}

/*==============================BOX-4==============================*/

#box4 {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  padding: 4em 3em;
}

.faqBox4 {
  color: gray;
  font-weight: bold;
  font-size: 2em;
  padding: 1em 0 0 0;
}

.contentFaqBox4 {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  font-size: 1.2em;
}

.optFaqBox4 {
  background-color: #14c2e8;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  margin-right: 2em;
}

.optFaqBox4-a {
  color: black;
  text-decoration: none;
}

/*----------BOX2-HOVER----------*/

.optFaqBox4:hover .optFaqBox4-a {
  color: white;
}

/*==============================FOOTER==============================*/

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #14c2e8;
  font-family: Montserrat;
  align-items: center;
  padding: 2em 0;
}


.mapaFooter {
  width: 30em;
  height: 30vh;
}

/*----------------------------LISTS----------------------------*/

.listFooter-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* font-weight: 400; */
}

.listFooter {
  text-align: center;
  font-weight: 400.25;
}

.listFooter-li {
  list-style: none;
  line-height: 3.5em;
}

.listFooter-a {
  text-decoration: none;
  color: black;
}

/*----------------------------COPYRIGHT----------------------------*/

.copyright {
  border-top: 1px solid #00000050;
  padding-top: 0.5em;
  display: flex;
  /* letter-spacing: 1px; */
}

.copyright-a {
  text-decoration: none;
  color: black;
}

#socialFooter {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.socialFooter-a {
  height: 15px;
}

/*----------RIGHT-HOVER----------*/

.copyright-a:hover {
  color: white;
}

::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #14c2e8;
  border-radius: 1em;
}

/*============================MEDIA-QUERYS============================*/

/*------------------1300px------------------*/

@media (max-width:1300px) {
  footer {
    flex-direction: column;
    padding-top: 2em;
  }

  .mapaFooter {
    padding-bottom: 2em;
  }

  .list_copyright {
    width: 90%;
  }

  .copyright {
    justify-content: space-between;
  }
}

/*------------------1100px------------------*/

@media (max-width:1100px) {
  .menuMenu {
    width: auto;
  }


  .btnMenu-a {
    padding-right: 0.5em;
  }

  .list_copyright {
    width: 90%;
  }

  .home-titleBox2 {
    text-align: center;
  }

  #home-box2 {
    flex-direction: column;
  }

  .dadContentBox2 {
    width: 25em;
    margin: 1em;
  }

  .faqBox4 {
    display: flex;
    justify-content: center;
  }

  .contentFaqBox4 {
    flex-direction: column;
    align-items: center;
  }

  .optFaqBox4 {
    margin-bottom: 1.5em;
  }
}

/*------------------900px------------------*/

@media (max-width:900px) {
  #submenu {
    display: none;
    background-color: #14c2e8;
  }

  .menuMenu {
    display: none;
  }

  iframe.videoBox3 {
    border-radius: 5px;
    width: 90%;
    height: 50vw;
  }

  .listFooter-div {
    flex-direction: column;
  }

  .listFooter-li {
    line-height: 3em;
  }

  #socialFooter {
    display: none;
  }

  .copyright {
    justify-content: center;
  }
}

/*------------------520px------------------*/

@media (max-width:520px) {
  .mapaFooter {
    width: 80%;
  }

  iframe.videoBox3 {
    width: 95%;
  }
.dadContentBox2{
  width: 70%;
}
}


/*============================Font-faces============================*/

/*------------------jost------------------*/

@font-face {
  font-family: jost;
  src: url(/fonts/Jost/static/Jost-Light.ttf);
}

@font-face {
  font-family: jost-medium;
  src: url(/fonts/Jost/static/Jost-Medium.ttf);
  /*------------------1300px------------------*/
}

@font-face {
  font-family: jost-bold;
  src: url(/fonts/Jost/static/Jost-Bold.ttf);
}