* {
  margin: 0;
  padding: 0%;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
#submenu {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-evenly;
  font-family: "Abyssinica SIL", serif;
  font-family: "Inter Tight", sans-serif;
  border-bottom: 1px solid #cbcaca;
  font-size: 15px;
  letter-spacing: 1.5px;
  padding: 2px 0;
}

/*--------------------LEFT--------------------*/

.contactsSubmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45vh;
}

/*--------------------BETWEEN--------------------*/

#menuDropdownSubmenu {
  cursor: pointer;
}
.btnmenuDropdownSubmenu {
  padding: 1px 10px;
  border-radius: 3px;
}
.dropdownSubmenu-img {
  width: 15px;
  margin-left: 5px;
}
.contentDropdownSubmenu {
  background-color: white;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.optionDropdownSubmenu-a {
  text-decoration: none;
  color: black;
}
.titleDropdownSubmenu {
  color: #14c2e8;
  padding: 6px;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 13px;
  background-color: rgba(4, 247, 255, 0.1);
}
.optionDropdownSubmenu {
  padding: 10px 20px;
  font-size: 14px;
}

/*----------HOVER-BETWEEN----------*/

.btnmenuDropdownSubmenu:hover {
  background-color: rgb(210, 210, 210, 0.4);
}
#menuDropdownSubmenu:hover .dropdownSubmenu-img {
  transform: scale(1) rotate(180deg);
  transition: 0.5s;
}
.optionDropdownSubmenu:hover {
  background-color: rgb(210, 210, 210, 0.2);
}

#menuDropdownSubmenu:hover .contentDropdownSubmenu {
  display: block;
}
#menuDropdownSubmenu:hover .dropdownSubmenu-img {
  transform: scale(1) rotate(180deg);
  transition: 0.5s;
}
/*--------------------RIGHT--------------------*/

#socialSubmenu {
  display: flex;
  width: 35vh;
  justify-content: space-between;
}
#socialSubmenu,
.socialSubmenu-img {
  display: flex;
  align-items: center;
}
.socialSubmenu-img {
  width: 15px;
  padding: 2px 3px;
  border-radius: 3px;
}
/*----------RIGHT-HOVER----------*/

.socialSubmenu-img:hover {
  background-color: rgb(210, 210, 210, 0.4);
}

/*----------------------------MENU----------------------------*/

#menu {
  display: flex;
  background-color: white;
  justify-content: space-around;
  font-family: Montserrat;
  border-bottom: 5px solid #14c2e8;
  box-shadow: 5px 5px 5px 1px rgba(141, 140, 140, 0.5);
  height: 5em;
}
.logoMenu {
  display: flex;
  align-items: center;
  font-size: 2em;
}
.logoMenu-a {
  text-decoration: none;
  color: #14c2e8;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
}
.menuMenu {
  display: flex;
  width: 80vh;
  justify-content: space-between;
  align-items: center;
}
.btnMenu-a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 400.3;
}
.btnEntrarMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #14c2e8;
  width: 15vh;
  padding: 0.2em 0;
  border-radius: 5px;
}
.btnEntrarMenu-a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 400.3;
}
.btnEntrarMenu-img {
  width: 3vh;
}

/*----------MENU-HOVER----------*/

.btnMenu-a:hover {
  color: #14c2e8;
}
.btnEntrarMenu-a:hover {
  color: white;
}
/*==========================================================================*/
#alinhador {
  width: 100%;
  height: 7em;
}
#title {
  font-size: 1.3em;
  font-weight: 550;
  display: flex;
  justify-content: center;
  margin: 1em 8em;
  text-transform: uppercase;
  font-family: "Abyssinica SIL", serif;
  font-family: "Inter Tight", sans-serif;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/*Box--------------------*/
#box {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
#imgBox {
  height: 600px;
}
.titleSubtitleContentBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Abyssinica SIL", serif;
  font-family: "Inter Tight", sans-serif;
  margin-left: 1em;
}
.titleBox {
  display: flex;
  font-size: 1.1em;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}

.subtitleBox {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
.paragraphBox-div {
  display: flex;
  margin-left: 1em;
}
#imgCheckBox,
.paragraphBox-p {
  display: flex;
  align-items: center;
}
#imgCheckBox {
  width: 35px;
}
.paragraphBox-p {
  align-items: flex-end;
  height: 90%;
  letter-spacing: 0.1;
}
/*Box2--------------------*/
#box2 {
  margin: 5em;
  font-family: "Abyssinica SIL", serif;
  font-family: "Inter Tight", sans-serif;
}
.titleBox2 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.3em;
}
.contentBox2 {
  margin: 0 10em;
  text-align: justify;
  font-size: 1.2em;
  letter-spacing: 0.12em;
  line-height: 1.6em;
}
/*box3--------------------*/
#box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Abyssinica SIL", serif;
  font-family: "Inter Tight", sans-serif;
}
.titleBox3 {
  font-size: 1.3em;
  margin-bottom: 2em;
}
.contactBox3 {
  margin: 2em 0;
  font-size: 1.1em;
}
.contactBox3-a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}
.iframeVideo{
border-radius: 10px;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}


.contactBox3-a:hover {
  color: #14c2e8;
  font-size: 1.2;
  transition: 0.1s;
}

/*==============================FOOTER==============================*/

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #14c2e8;
  font-family: Montserrat;
  align-items: center;
  padding: 1em 0;
}

/*----------------------------LISTS----------------------------*/

.listFooter-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500.2;
}
.listFooter {
  text-align: center;
}
.listFooter-li {
  list-style: none;
  line-height: 4em;
}
.listFooter-a {
  text-decoration: none;
  color: black;
}

/*----------------------------COPYRIGHT----------------------------*/

.copyright {
  border-top: 1px solid #00000050;
  padding-top: 1em;
  display: flex;
  letter-spacing: 1px;
}
.copyright-a {
  text-decoration: none;
  color: black;
}
#socialFooter {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.socialFooter-a {
  height: 15px;
}

/*----------RIGHT-HOVER----------*/

.copyright-a:hover {
  color: white;
}
