* {
  margin: 0;
  padding: 0%;
}

#title {
  font-family: montserrat;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  margin: 1em;
  padding: 3em 0 1em 0;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  margin: 3em 10%;
}

/*BOX------------------------------*/

.imgBox, .imgBox2 {
  border-radius: 5px;
  height: 30em;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

#box, #box2, #box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
}

.allContentBox, .allContentBox2 {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 1.2em;
  border-radius: 0px 10px 10px 0px;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.titleBox, .titleBox3 {
  font-family: Montserrat;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  /* :  letter-spacing: 0.1em; */
}

.contentBox, .contentBox2 {
  line-height: 3.5em;

}

.clickHereBox {
  display: flex;
  font-size: 1em;
  justify-content: end;
  align-items: center;
  font-weight: 600;
  padding: 1em;
}

.clickHereBox-a {
  text-decoration: none;
  color: black;
  padding: 0.3em;
  border-radius: 0.5em;
}

/*BOX2------------------------------*/

.imgBox2 {
  box-shadow: 2px -2px 5px 1px rgba(0, 0, 0, 0.5) !important;
}

#box2 {
  margin: 10% 10%;
}

.allContentBox2 {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 1.3em;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 2px -1px 5px 1px rgba(0, 0, 0, 0.4);
}

.titleBox2 {
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
  padding-top: 1em;
}

.titleBox2 {
  font-family: Montserrat;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  letter-spacing: 1.1px;
}

.conentBox2 {
  font-family: Montserrat;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  line-height: 4.5vh;
  letter-spacing: 1.2px;
}

.clickHereBox2 {
  display: flex;
  font-size: 1em;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  padding: 1em;
}

.clickHereBox-a2 {
  text-decoration: none;
  color: black;
  padding: 0.3em;
  border-radius: 0.5em;
}

/*BOX3------------------------------*/

.allContentBox3 {
  background-color: yellow !important;
}

/*============================MEDIA-QUERYS============================*/

/*------------------1150px------------------*/

@media (max-width:1150px) {
  img {
    display: none;
  }

  .allContentBox, .allContentBox2, .allContentBox3 {
    border-radius: 2px;
    width: 60vw;
  }
}

/*------------------700px------------------*/

@media (max-width:700px) {
  .allContentBox, .allContentBox2, .allContentBox3 {
    width: 80vw;
  }

  .contentBox, .contentBox2, .contentBox3 {
    line-height: 2.7em;
  }
}

/*------------------520px------------------*/

@media (max-width:520px) {
  .contentBox, .contentBox2 {
    line-height: 2em;
  }
}