* {
  margin: 0;
  padding: 0%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.8);
}

#submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Abyssinica SIL", serif;
  font-family: "Inter Tight", sans-serif;
  border-bottom: 1px solid #cbcaca;
  font-size: 15px;
  letter-spacing: 1.5px;
  padding: 2px 0;
}

/*--------------------LEFT--------------------*/

.contactsSubmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45vh;
}

/*--------------------BETWEEN--------------------*/

#menuDropdownSubmenu {
  cursor: pointer;
}

.btnmenuDropdownSubmenu {
  padding: 1px 10px;
  border-radius: 3px;
}

.dropdownSubmenu-img {
  width: 15px;
  margin-left: 5px;
}

.contentDropdownSubmenu {
  background-color: white;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.optionDropdownSubmenu-a {
  text-decoration: none;
  color: black;
}

.titleDropdownSubmenu {
  color: #14c2e8;
  padding: 6px;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 13px;
  background-color: rgba(4, 247, 255, 0.1);
}

.optionDropdownSubmenu {
  padding: 10px 20px;
  font-size: 14px;
}

/*----------HOVER-BETWEEN----------*/

.btnmenuDropdownSubmenu:hover {
  background-color: rgb(210, 210, 210, 0.4);
}

#menuDropdownSubmenu:hover .dropdownSubmenu-img {
  transform: scale(1) rotate(180deg);
  transition: 0.5s;
}

.optionDropdownSubmenu:hover {
  background-color: rgb(210, 210, 210, 0.2);
}

#menuDropdownSubmenu:hover .contentDropdownSubmenu {
  display: block;
}

#menuDropdownSubmenu:hover .dropdownSubmenu-img {
  transform: scale(1) rotate(180deg);
  transition: 0.5s;
}

/*--------------------RIGHT--------------------*/

#socialSubmenu {
  display: flex;
  width: 35vh;
  justify-content: space-between;
}

#socialSubmenu,
.socialSubmenu-img {
  display: flex;
  align-items: center;
}

.socialSubmenu-img {
  width: 15px;
  padding: 2px 3px;
  border-radius: 3px;
}

/*----------RIGHT-HOVER----------*/

.socialSubmenu-img:hover {
  background-color: rgb(210, 210, 210, 0.4);
}

/*----------------------------MENU----------------------------*/

#menu {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  border-bottom: 5px solid #14c2e8;
  box-shadow: 5px 5px 5px 1px rgba(141, 140, 140, 0.5);
  height: 5em;
}

.logoMenu {
  display: flex;
  align-items: center;
  font-size: 2em;
}

.logoMenu-a {
  text-decoration: none;
  color: #14c2e8;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
}

.menuMenu {
  display: flex;
  width: 80vh;
  justify-content: space-between;
  align-items: center;
}

.btnMenu-a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 400.3;
}

.btnEntrarMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #14c2e8;
  width: 15vh;
  padding: 0.2em 0;
  border-radius: 5px;
}

.btnEntrarMenu-a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 400.3;
}

.btnEntrarMenu-img {
  width: 3vh;
}

/*----------MENU-HOVER----------*/

.btnMenu-a:hover {
  color: #14c2e8;
}

.btnEntrarMenu-a:hover {
  color: white;
}

/*==============================END=MENU==============================*/

#alinhador {
  width: 100%;
  height: 7vw;
}

.imgAnuncio {
  width: 100%;
}

/*==============================BOX==============================*/

.titleForm {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vw;
  border-bottom: 0.1vw solid gray;
  padding-bottom: 1vw;
  margin: 0 3vw;
  margin-top: 2vw;
  justify-content: center;
font-weight: 600;
}

.pForm {
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  font-size: 1.4vw;
  font-weight: 500;
  padding: 1.5vw 0;
}

.variavelContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3vw;
  border: 4px black;
margin-bottom: 2vw;
}

.variavel {
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
  border: 5em;
  padding: 0 10vw;
  border-radius: 0.5vw;
  width: 70%;
  font-family: Montserrat;
  box-shadow: 0vw 0.2vw 0.5vw 0.1vw rgba(0, 0, 0, 0.521);
}

/*botao  cadastrar------------*/

.alignBtnCadastrar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 2vw 2vw 0;
}

.btnCadastrar {
  display: flex;
  border: 0;
  padding: 0.5vw 1vw;
  width: min-content;
  border-radius: 0.4vw;
  font-size: 1.2vw;
  font-family: Montserrat;
  cursor: pointer;
  background-color: #14c2e8;
}

.imgAdd {
  width: 25px;
  margin-left: 0.5em;
  background-color: #14c2e8;

}

/*==============================FOOTER==============================*/

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #14c2e8;
  font-family: Montserrat;
  align-items: center;
  padding: 1em 0;
}

/*----------------------------LISTS----------------------------*/

.listFooter-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500.2;
}

.listFooter {
  text-align: center;
}

.listFooter-li {
  list-style: none;
  line-height: 4em;
}

.listFooter-a {
  text-decoration: none;
  color: black;
}

/*----------------------------COPYRIGHT----------------------------*/

.copyright {
  border-top: 1px solid #00000050;
  padding-top: 1em;
  display: flex;
  letter-spacing: 1px;
}

.copyright-a {
  text-decoration: none;
  color: black;
}

#socialFooter {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.socialFooter-a {
  height: 15px;
}

/*----------RIGHT-HOVER----------*/

.copyright-a:hover {
  color: white;
}