* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
@font-face {
  font-family: CaviarDreams;
  src: url("Fonts/CaviarDreams/CaviarDreams_Bold.ttf");
}
@font-face {
  font-family: Coolvetica;
  src: url("Fonts/Coolvetica/coolveticarg.otf");
}

/*----------------------------MENU----------------------------*/

header {
  display: flex;
  background-color: gray;
  justify-content: space-between;
  padding: 0 5%;
}
.logo {
  text-decoration: none;
  color: white;
  font-size: 1.8em;
  font-family: Coolvetica;
}

.menu {
  list-style: none;
  display: flex;
  font-size: 1.3em;
  justify-content: space-between;
  align-items: flex-end;
  width: 30%;
  font-family: CaviarDreams;
}
.btnMenu {
  text-decoration: none;
  color: white;
}
